@page
@model MyScriptureJournal.Pages.IndexModel

@{
    ViewData["Title"] = "Index";
}



<p>
    <a class="btn btn-primary" asp-page="Create">Create New</a> 
<p>  
    <a  class="btn btn-primary" asp-page="Index2">View Saved Scriptures</a>
</p>

