@{
    ViewData["Title"] = "Home";
}


 <div class="container">

    <h1 class="my-4">Welcome to <i>i</i>Academy</h1>

    <!-- Marketing Icons Section -->
   <div class="card-deck">
  <div class="card">
      <img class="d-block w-100"  src="~/vendor/images/card1.jpg" alt="first card">
    <div class="card-body">
      <h5 class="card-title">A day in the life of a first-year</h5>
      <p class="card-text"><i>i</i>Academy student Mark Santos offers a glimpse into her life on campus</p>
      <a href="#" class="btn btn-primary">Learn More</a>
      <p class="card-text"><small class="text-muted">Last updated 2 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="https://cdn.pixabay.com/photo/2020/03/03/12/15/mask-4898571_960_720.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">COVID-19</h5>
      <p class="card-text">A new study suggests that individuals who have previously had COVID-19 are highly unlikely to contract the illness again,
  for at least six months following their first infection. </p>
       <a href="#" class="btn btn-primary">Learn More</a>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="https://cdn.pixabay.com/photo/2016/11/29/12/50/bookcase-1869616_960_720.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Humanities</h5>
      <p class="card-text">Whose history? AI uncovers who gets attention in high school textbooks</p>
       <a href="#" class="btn btn-primary">Learn More</a>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>
</div>