@model IEnumerable<MvcMovie.Models.Movie>
@{
    ViewData["Title"] = "About";
}

<h1>About</h1>
<p>The Latter-Day Movies is a web app, created by Jersen, to showcase movies of the Church of Jesus Christ of Latter-day Saints.</p>
<p>This webapp do basic functionalities such as add movies, add photos, edit and delete current movies in the list.</p>
<p>This webapp is not owned by the Church of Jesus Christ of Latter-day Saints</p>
