@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>The Latter-day Movies collects a variety of information that you provide directly to us. All the information will not be disclosed
nor sold to third party websites. Information sent, are for the purpose of testing the app and provide improvement for later purposes.</p>
